@mixin minMedium {
    @media (min-width:992px) {
        @content;
    }
}

/* overloy mixin */
@mixin overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    
}

/* prefixes mixin */
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
   
    // Output standard non-prefixed declaration
    #{$property}: $value;
  }

  /* Animation Mixin */
  @mixin key_frame ($animation-name) {

  @-webkit-keyframes #{$animation-name}{
      @content;
  }
  @-moz-keyframes #{$animation-name}{
    @content;
 }
 @-ms-keyframes #{$animation-name}{
    @content;
 }
 @-o-keyframes #{$animation-name}{
    @content;
 }
  @keyframes #{$animation-name}{
    @content;
   }
      
  }